.DS_Store
*.csproj
*.pidb
*.sln
CurrentMaximizeLayout.dwlt
ShaderCache.db
shadercompiler-1.log
*/CaptureOutput/
*.sublime-project
*.sublime-workspace
Odyssey-Wwise/.cache/
Odyssey-Wwise/Originals/SFX/**/*.akd

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
UserSettings/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
[Ll]ogs/
sysinfo.txt
/[Aa]ssets/TextMesh Pro/Documentation/TextMesh Pro User Guide 2016.pdf
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*/[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj
*.vscode
*.vs
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
*/Assets/Testing/
*/Heapshots/
altoscore.png
altophoto.png

# ============ #
#     FMOD     #
# ============ #
# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/libs/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*

# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*
Wngst_FMOD/.cache/

# Ignore bank files in the StreamingAssets folder.
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta
# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.

# Log files can be ignored.
fmod_editor.log

#Ignore FMOD settings file
Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset

# =============== #
# Rider generated #
# =============== #
.idea/

# =============== #
#      Xcode      #
# =============== #
xcuserdata/

# =============== #
#      Other      #
# =============== #
UserSettings/EditorUserSettings.asset
